.container {
	margin: 20px 0px;
}

a {
	color: #F74E2A;
	font-weight: 700;
}

a:hover {
	color: #F74E2A;
	text-decoration: underline;
}

nav:visited {
	color: #F74E2A;
	text-decoration: underline;
}

/* navbar */
.navbar-default {
    background-color: #b4b5aa;
    border-color: #b4b5aa;
    opacity: 0.8;
    padding: 25px 0px;
    margin: 0px 25px;
}
/* title */
.navbar-default .navbar-brand {
    color: #000;
    font-family: lato, sans-serif;
	font-weight: 800;
	font-size: 22px;
	letter-spacing: 1px;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
    color: #FFF;
}
/* link */
.navbar-default .navbar-nav > li > a {
    color: #000;
    font-family: lato, sans-serif;
	font-weight: 600;
	font-size: 18px;
	letter-spacing: 1px;
	text-decoration: underline;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    color: #2B57F5;
}

h1 {
	color: black;
	font-family: lato, sans-serif;
	font-weight: 800;
	font-size: 36px;
	padding-bottom: 20px;
	letter-spacing: 1px;
	text-align: left;
}

h2 {
	color: black;
	font-family: lato, sans-serif;
	font-weight: 700;
	font-size: 20px;
	letter-spacing: .5px;
	text-align: left;
}

h3 {
	color: black;
	font-family: lato, sans-serif;
	font-weight: 700;
	font-size: 15px;
	letter-spacing: 1px;
	text-align: left;
}

ul {
	list-style: none;
	padding-left: 0;
}

li {
	list-style: none;
	color: black;
	font-family: lato, sans-serif;
	font-weight: 300;
	font-size: 12px;
	letter-spacing: .5px;
	text-align: left;
	padding-bottom: 5px;
}

h6 {
	color: black;
	font-family: times, serif;
	font-weight: bold;
	font-size: 10px;
	letter-spacing: 1px;
	text-decoration: underline;
	text-align: right;
	padding-bottom: 15px;
}

h6:hover {
	color: white;
	text-decoration: underline;
}

p {
	color: black;
	font-family: lato, sans-serif;
	font-weight: 500;
	font-size: 14px;
	padding-bottom: 10px;
	text-align: left;
	line-height: 25px;
}

body {
	background-color: #b4b5aa;
	font-family: lato, sans-serif;
	margin: 3em;
	padding-top: 70px;
	height: 100%;
}

#carFire {
	padding-top: 28px;
}

#container1 img, #container2 img, #container3 img, #container4 img, #container5 img, #container6 img, #container7 img {
  position: relative;
}

#container1 {
	position: absolute;
	top:25%;
	left:35%;	
}

#container1 img:hover {
	z-index: 7;
}

#container2 {
	position: absolute;
	top:30%;
	left:25%;
}

#container2 img:hover {
	z-index: 6;
}

#container3 {
	position: absolute;
	top:45%;
	left:40%;
}

#container3 img:hover {
	z-index: 5;
}

#container4 {
	position: absolute;
	top:35%;
	left:15%;
}

#container4 img:hover {
	z-index: 4;
}

#container5 {
	position: absolute;
	top:14.8%;
	left:48.9%;
}

#container5 img:hover {
	z-index: 3;
}

#container6 {
	position: absolute;
	top:20%;
	left:8%;
}

#container6 img:hover {
	z-index: 2;
}

#container7 {
	position: absolute;
	top:45%;
	left:70%;
}

#container7 img:hover {
	z-index: 1;
}

.projects img {
	padding-bottom: 25px;
}

