.container {
	margin: 20px 0px;
}

a:visited {
	text-decoration: underline;
}

a:hover {
    color: #3333FF;
}

a:active {
    color: #dd480d;
} 

nav {
	height: 100px;
	margin-top: 50px;
	
}

nav li {
	list-style: none;
	display: inline-block;
}

nav li a {
	color: black;
	font-family: lato, sans-serif;
	font-weight: 700;
	font-size: 24px;
	list-style: none;
	padding: 20px 20px;
	letter-spacing: 1px;
}

body {
	background-color: #b4b5aa;
	font-family: lato, sans-serif;
	margin: 3em;
	padding: 0;
	height: 100%;
}

img {
	width: 500px;
}

#container {
	position: absolute;
	top:300px;
	left:650px;
}

#container img:hover {
	z-index: 3;
	position: absolute;
}

#container2 {
	position:absolute;
	top:250px;
	left:400px;
}

#container2 img:hover {
	z-index: 2;
	position: absolute;
}

#container3 {
	position:absolute;
	top:370px;
	left:480px;
}

#container3 img:hover {
	z-index: 1;
	position: absolute;
}

