
@font-face {
    font-family: 'neuzeit_groteskregular';
    src: url('neuzeitgro-reg-webfont.eot');
    src: url('neuzeitgro-reg-webfont.eot?#iefix') format('embedded-opentype'),
         url('neuzeitgro-reg-webfont.woff2') format('woff2'),
         url('neuzeitgro-reg-webfont.woff') format('woff'),
         url('neuzeitgro-reg-webfont.ttf') format('truetype'),
         url('neuzeitgro-reg-webfont.svg#neuzeit_groteskregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'neuzeit_groteskbold';
    src: url('neuzeitgro-bol-webfont.eot');
    src: url('neuzeitgro-bol-webfont.eot?#iefix') format('embedded-opentype'),
         url('neuzeitgro-bol-webfont.woff2') format('woff2'),
         url('neuzeitgro-bol-webfont.woff') format('woff'),
         url('neuzeitgro-bol-webfont.ttf') format('truetype'),
         url('neuzeitgro-bol-webfont.svg#neuzeit_groteskbold') format('svg');
    font-weight: normal;
    font-style: normal;

}

body {
	font: 18px 'neuzeit_groteskregular', Arial, 'Baskerville';
	text-decoration: none;	
	background-color: #b4b5aa;	
	background-image: url(../img/.png);
	background-attachment:fixed;
	background-repeat:repeat-y;
	background-position: top right;
	position: fixed;
	
}

header {
	float: left;
	margin-top: 30px;
	margin-left: 30px;
	margin-bottom: 20px;
	position: fixed;

}

h1 {font: 20px 'neuzeit_groteskbold';
color: #000081;
letter-spacing: .125em;}

h3 {font: 12px 'neuzeit_groteskbold';
color: #0000FF;
letter-spacing: .250em;
font-style: ;}

#spacing {font: 12px 'neuzeit_groteskbold';
color: #0000FF;
letter-spacing: .500em;
font-style: ;
float: left;
margin-left: 170px;
margin-bottom: 40px;}

h4 {font: 12px neuzeit_groteskbold; letter-spacing: .200em;}

nav {color: #000081; 
	letter-spacing: .250em;
	font-style: serif;
	margin-top: 30px;
	margin-left: 0px;
	}


nav img {height: 5px; margin-left: -20px; margin-top: 10px; margin-bottom: 10px;}

a:link {color: #000081; text-decoration: none;}
a:visited {color: #000081; text-decoration: none;}
a:hover {color: #fc391c; background: #78735a; text-decoration: none;}


#contact { font: 12px neuzeit_groteskregular; letter-spacing: .100em; color: #00ff00;
float: left;
	margin-top: 325px;
	line-height: 13px;
	margin-left: 0px;
	margin-bottom: 20px;

}

#container {
	position: absolute;
	top:95px;
	left:350px;
}

#container2 {
	position:absolute;
	top:25px;
	left:700px;
}

#container3 {
	position:absolute;
	top:140px;
	left:780px;
}

#container4 {
position:absolute;
	top:590px;
	left:730px;
}

#container5 {
position:absolute;
	top:350px;
	left:183px;
}

#container6 {
position:absolute;
	top:25px;
	left:704px;
}

#container7 {
position:absolute;
	top:404px;
	left:506px;
	z-index:1;
}

#container8 {
	position:absolute;
	top:493px;
	left:1200px;
}

#container9 {
	position:absolute;
	top:200px;
	left:106px;
}

#container10 {
	position:absolute;
	top:415px;
	left:838px;
}

#container11 {
	position:absolute;
	top:145px;
	left:1180px;
}

#container12 {
position:absolute;
	top:100px;
	left:1100px;
}

#container13 {
position:absolute;
	top:574px;
	left:347px;
}

.draggable {
	z-index:1000;
	position: absolute;
	}

p.text {font-weight: bolder; letter-spacing: .05em; line-height: 1.2em; color: #ffffff; font-size: 18px;}

h4 {font-style: serif;}


/*about page*/

#abouttext {
	width:348px;
	height:400px; 
	position:absolute;
	top:143px;
	left:250.5px;
	background-color: #FFFFFF;
	opacity: .5;
	z-index: 2;
	
	}
	
#abouttextbg
{
	font-size: 18px;
	line-height:24px;
	font: 'neuzeit_groteskbold';
	text-decoration: none;
	position: absolute;
	left:249.8px;
	top:136.4px;
	z-index:3;
	position: fixed;
	}

	/*about page end*/
	

#slider {
  position: relative;
  overflow: hidden;
  margin: 0px auto 0 auto;
  border-radius: 0px;
  margin-left: 350px;
  margin-top: 126px;  
  height: 900px;
  width: 900px;
  
}

#slider ul {
  position: relative;
  margin: 0;
  padding: 0;
  height: 900px;
  width: 900px;
  list-style: none;
  display: block;
  
  
}

#slider ul li {
  position: relative;
  display: block;
  float: left;
  margin: 0;
  padding: 0;
  height: 900px;
  width: 900px;
  background: #;
  text-align: center;
  line-height: 300px;
  
}

a.control_prev, a.control_next {
  position: absolute;
  top: 28%;
  z-index: 999;
  display: block;
  padding: 0% 3%;
  width: auto;
  height: auto;
  background: #000000;
  color: #fff;
  text-decoration: none;
  font-weight: 600;
  font-family: neuzeit_groteskregular;
  font-size: 60px;
  opacity: 0.8;
  cursor: pointer;
}

a.control_prev:hover, a.control_next:hover {
  opacity: 0.8;
  -webkit-transition: all 0.2s ease;
}

a.control_prev {
  border-radius: 0 0 0 0;
}

a.control_next {
  right: 0;
  border-radius: 0 0 0 0;
}

.slider_option {
  position: relative;
  margin: 10px auto;
  width: 160px;
  font-size: 18px;
}






/*gallery ing style end*/
